/*BODY*/

body {
  background: silver;
  position:relative;
  bottom: 32px;
}

/*NAVIGATION*/

.logout {
  float:right;
}

.user {
  float:right;
}

/*VIEWS*/

 .views {
   text-align: center;
 }

 .mainDiv {
   display: inline-block;
   width: 300px;
 }

 img {
   top: 0px;
   display:block;
   margin:auto;
   width: 200px;
   height: 150px;
 }

 img,.facebookauth {
   width: 250px;
   height: 50px;
 }

 .description {
   height:125px;
   overflow-y: scroll;
 }

 .title {
   height:80px;
   overflow-y: scroll;
   text-align: center;
 }

/*AUDIO PLAYER*/

.audioplayer {
  position: fixed;
  bottom: 0;
  height: 32px;
  width: 100%;
  background: black;
  z-index: 1000;
}

.podcasttitle {
  text-align: center;
  float:left;
  color: white;
  width: 60%;
  padding: 6px;
}

 #audio {
   float: right;
   display: block;
   width: 40%;
}
