<div>
  <div>
  <audio id="audio" ng-src="{{podcastLink}}" controls autoplay></audio>
  </div>
  <hr>
  <h2>Popular Podcast</h2>
  <hr>
  <div class="mainDiv">
    <div class="podcastDiv" ng-repeat="podcast in podcasts track by $index">
      <img class="podcastImg" src="{{podcast.imageUrl}}"/>
      <ul>
        <li class="link" ng-click="play(podcast.link)">Title: {{podcast.title}}</li>
        <li>Description: {{podcast.description}}</li>
        <li>Release Date: {{podcast.pubDate | date: "mediumDate"}}</li>
        <p ng-show="message">{{message}}</p>
      </ul>
      <!-- TODO: create button for addToQueue and addPodToPlaylist -->
    </div>
  </div>
  <hr>
  <a href="/#/stations/">
    <h2>Stations</h2>
  </a>
  <hr>
  <div class="mainDiv">
    <div class="stationsDiv" ng-repeat="station in stations">
      <p ng-show="message">{{message}}</p>
      <a href="/#/stations/{{station._id}}">
        <img class="stationImg" src="{{station.imageUrl}}"/>
      </a>
      <ul>
        <li class="stationLi">Station: {{station.title}}</li>
        <li class="stationLi">Description: {{station.description}}</li>
      </ul>
    </div>
  </div>
  <!-- TODO: create navigation and logout -->
</div>
