<div>

  <h1>Stations</h1>
  <div ng-repeat="station in stations track by $index">
    <p ng-show="message">{{message}}</p>
    <img src="{{station.imageUrl}}"/>
    <ul>
      <li>Title: {{station.title}}</li>
      <li>Description: {{station.description}}</li>
      <button ng-click="playStation($index)">Play Station</button>
    </ul>
    <hr>
  </div>

  <!-- TODO: create navigation and logout -->
  <h1>Popular Podcast</h1>
  <div ng-repeat="podcast in podcasts track by $index">
    <img src="{{podcast.imageUrl}}"/>
    <ul>
      <li>Title: {{podcast.title}}</li>
      <li>Description: {{podcast.description}}</li>
      <li>Release Date: {{ podcast.pubDate | date: "mediumDate"}}</li>
      <button ng-click="playPodcast($index)">Play Podcast</button>
      <p ng-show="message">{{message}}</p>
    </ul>
    <!-- TODO: create button for addToQueue and addPodToPlaylist -->
  </div>
  <audio id="audio" ng-src="{{podcastLink}}" controls autoplay></audio>
</div>
