<div>
  <nav>
    <ul>
      <li><a href="/#/">Popular</a></li>
      <li><a href="/#/stations">Stations</a></li>
      <li><a href="/#/playlist">Playlist</a></li>
      <li><a href="/#/queue">Podcast Queue</a></li>
      <br>
      <button ng-click="logout()">logout</button>
      <br>
    </ul>
  </nav>
  <h1>{{h1}}</h1>
  <div ng-repeat="pop in popularPodcast2">
    <ul>
      <li>Title: {{pop.name}}</li>
      <li>Description: {{pop.description}}</li>
      <li><a href="{{pop.link}}">Podcast</a></li>
    </ul>
  </div>
  <audio id="audio" src="http://freshly-ground.com/data/audio/mpc/20090119%20-%20Untitled%20Groove.mp3" controls></audio>
</div>
