<div>
  <nav>
    <ul>
      <li><a href="/#/">Popular</a></li>
      <li><a href="/#/stations">Stations</a></li>
      <li><a href="/#/playlist">Playlist</a></li>
      <li><a href="/#/queue">Podcast Queue</a></li>
      <br>
      <button ng-click="logout()">Logout</button>
      <br>
    </ul>
  </nav>
  <h1>{{h1}}</h1>
  <div ng-repeat="podcast in podcastQueue track by $index">
    <ul>
      <li>Title: {{podcast.title}}</li>
      <li>Description: {{podcast.description}}</li>
      <li>Date: {{podcast.pubDate}}</li>
    </ul>
    <button ng-click="play($index)">Play Podcast</button>
    <br>
    <button ng-click="deleteFromQueue(dummyId, dummyId)">Delete Podcast</button>
  </div>
  <audio id="audio" ng-src="{{link}}" controls></audio>
</div>
