<div>
  <h2>Stations</h2>
  <audio id="audio" ng-src="{{podcastLink}}" controls autoplay></audio>
  <hr>
  <div class="mainDiv">
    <div class="stationsDiv" ng-repeat="station in stations">
      <p ng-show="message">{{message}}</p>
      <a href="/#/stations/{{station._id}}">
        <img class="stationImg" src="{{station.imageUrl}}"/>
      </a>
      <ul>
        <li class="stationLi">Station: {{station.title}}</li>
        <li class="stationLi">Description: {{station.description}}</li>
      </ul>
      <!--TODO: make sure you have the correct endpoint  -->
      <button ng-click="subscribe(stations[$index]._id)">Subscribe</button>
    </div>
  </div>
</div>
