<div class="views">
  <hr>
  <h1>My Profile</h1>
  <hr>
  <h1>Welcome {{user.username}}</h1>
  <div>
		Playlist Name:
    <br>
    <input class="form-group" class="col-xs-4" class="form-control" type="text" ng-model="playlist.title">
    <br>
    <button class='btn btn-primary' ng-click="createPlaylist()">Create Playlist</button>
  <hr>
  <h1>My Playlists</h1>
    <div class="mainDiv" ng-repeat="playlist in UserPlaylistService.usersPlaylist">
      <ul class="list-group">
        <a href="/#/playlist/{{playlist._id}}">
          <li class="list-group-item"><strong>Playlist Title:</strong> <u>{{playlist.title}}</u></li>
        </a>
       <li class="list-group-item"><strong>Created At:</strong> {{playlist.createdAt | date: 'mediumDate'}}</li>
      </ul>
      <button class='btn btn-primary' ng-click="deletePlaylist($index, UserPlaylistService.usersPlaylist[$index]._id)">Delete Playlist</button>
    </div>
  <hr>
  <h1>Subcribed Stations</h1>
  <div class="mainDiv" ng-repeat="station in user.subscriptions">
    <ul class="list-group">
      <a href="/#/profile/{{station._id}}">
        <img class="img-thumbnail" ng-src="{{station.image || defaultImage}}"/>
      </a>
      <li class="list-group-item title"><strong>Station:</strong> {{station.title}}</li>
      <li class="list-group-item description"><strong>Description:</strong> {{station.description.short || station.description.long}}</li>
    </ul>
    <button class='btn btn-primary' ng-click="unsubscribe($index)">Unsubscribe</button>
  </div>
  </div>
</div>
