<div class="views">
  <h1>Popular Podcasts</h1>
  <div>
    <div class="mainDiv" ng-repeat="podcast in podcasts.slice(0,10) track by $index">
      <img class="img-thumbnail" ng-src="{{podcast.image || defaultImage}}"/>
      <ul class="list-group">
        <li class="list-group-item title" ng-click="play(podcast)"><strong>Title:</strong> <u>{{podcast.title}}</u></li>
        <li class="list-group-item description"><strong>Description:</strong> {{podcast.description}}</li>
        <li class="list-group-item"><strong>Release Date:</strong> {{podcast.published | date: "mediumDate"}}</li>
      </ul>
      <button class='btn btn-primary' ng-click="getUserPlaylist(user, allPlaylist, $index)">+</button>
      <select class="form-control"
              ng-show="selectedIndex === $index"
              ng-options="playlist.title for playlist in userPlaylists"
              ng-model="selectedPlaylist"
              ng-change="selectedIndex = null; addPodcastToPlaylist(podcast, selectedPlaylist)">
      </select>
    </div>
  </div>
  <h1>Stations</h1>
  <div>
    <div class="mainDiv" ng-repeat="station in stations">
      <a href="/#/stations/{{station._id}}">
        <img class="img-thumbnail" ng-src="{{station.image || defaultImage}}"/>
      </a>
      <ul class="list-group">
        <li class="list-group-item title"><strong>Station:</strong> {{station.title}}</li>
        <li class="list-group-item description"><strong>Description:</strong> {{station.description.short || station.description.long}}</li>
      </ul>
      <button class='btn btn-primary' ng-click="subscribe(stations[$index]._id, $index)">Subscribe</button>
    </div>
  </div>
</div>
