<div>
  <hr>
  <h2>Popular Podcast</h2>
  <hr>
  <div class="mainDiv">
    <div class="podcastDiv" ng-repeat="podcast in podcasts track by $index">
      <img class="podcastImg" src="{{podcast.image}}"/>
      <ul>
        <li class="link" ng-click="play(podcast.enclosure.url)">Title: {{podcast.title}}</li>
        <li>Description: {{podcast.description}}</li>
        <li>Release Date: {{podcast.published | date: "mediumDate"}}</li>
        <p ng-show="message">{{message}}</p>
      </ul>
      <button ng-click="getUserPlaylist(user, allPlaylist, $index)">+</button>
      <select ng-show="selectedIndex === $index"
              ng-options="playlist.title for playlist in userPlaylists"
              ng-model="selectedPlaylist"
              ng-change="addPodcastToPlaylist(podcast, selectedPlaylist)">
      </select>
    </div>
  </div>
  <hr>
  <a href="/#/stations/">
    <h2>Stations</h2>
  </a>
  <hr>
  <div class="mainDiv">
    <div class="stationsDiv" ng-repeat="station in stations">
      <p ng-show="message">{{message}}</p>
      <a href="/#/stations/{{station._id}}">
        <img class="stationImg" src="{{station.image}}"/>
      </a>
      <ul>
        <li class="stationLi">Station: {{station.title}}</li>
        <li class="stationLi">Description: {{station.description.short || station.description.long}}</li>
      </ul>
    </div>
  </div>
</div>
