<div>
  <hr>
  <div class="newDiv">
    <div class="podcastDiv" ng-repeat='podcast in allStationPodcasts'>
      <img class="podcastImg" src="{{podcast.imageUrl}}"/>
      <ul>
        <li class="link" ng-click="play(podcast.link)">Title: {{podcast.title}}</li>
        <li>Description: {{podcast.description}}</li>
        <li>Release Date: {{podcast.pubDate | date: "mediumDate"}}</li>
      </ul>
      <button ng-click="getUserPlaylist(user, allPlaylist, $index)">+</button>
      <select ng-show="selectedIndex === $index"
              ng-options="playlist.title for playlist in userPlaylists"
              ng-model="selectedPlaylist"
              ng-change="addPodcastToPlaylist(podcast, selectedPlaylist)">
      </select>
      {{selectedPlaylist.podcasts}}
    </div>
  </div>
</div>
