<div class="views" ng-show="selected.station">
  <h1>{{selected.station.title}}</h1>
  <div>
    <div class="mainDiv" ng-repeat='podcast in selected.station.podcasts'>
      <img class="img-thumbnail" ng-src="{{podcast.image || defaultImage}}"/>
      <ul class="list-group">
        <li class="list-group-item title" ng-click="play(podcast)"><strong>Title:</strong> <u>{{podcast.title}}</u></li>
        <li class="list-group-item description"><strong>Description:</strong> {{podcast.description || podcast.title}}</li>
        <li class="list-group-item"><strong>Release Date:</strong> {{podcast.published | date: "mediumDate"}}</li>
      </ul>
      <button class='btn btn-primary' ng-click="getUserPlaylist(user, allPlaylist, $index)">+</button>
      <select class="form-control"
              ng-show="selectedIndex === $index"
              ng-options="playlist.title for playlist in userPlaylists"
              ng-model="selectedPlaylist"
              ng-change="selectedIndex = null; addPodcastToPlaylist(podcast, selectedPlaylist)">
      </select>
    </div>
  </div>
</div>
