<div class="views">
  <h1>{{playlist.title}}</h1>
  <div class="mainDiv" ng-repeat="podcast in playlist.podcasts">
    <ul class="list-group">
     <img class="img-thumbnail" ng-src="{{podcast.image}}"/>
     <li ng-click="play(podcast)" class="list-group-item title"><strong>Podcast Name:</strong> <u>{{podcast.title}}</u></li>
     <li class="list-group-item"><strong>Created At:</strong> {{podcast.published | date: 'mediumDate'}}</li>
    </ul>
    <button class='btn btn-primary' ng-show="user._id === playlist.owner;" ng-click="deletePodcastFromPlaylist($index, playlist)">Delete</button>
  </div>
</div>
