<div>
  <h1>{{signin}}</h1>
    Username: <input type="text" ng-model='user.username'>
    <br>
    Password: <input type="text" ng-model='user.password'>
    <br>
    <button>signin</button>
    <br>
    <button>
      <a href="/auth/facebook">
        <img src="http://i.stack.imgur.com/Vk9SO.png"/>
      </a>
    </button>
    <button>
      <a href="/auth/facebook">
        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"/>
      </a>
    </button>
    <br>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
