<div class="wrapper">
  <div class="views">
    <h1>Sign Up</h1>
    <div class="input-row">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="userCredentials.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="userCredentials.password">
      </div>
      <div>
        <button class='btn btn-primary' ng-click="signUp()">Sign Up</button>
      </div>
      <div>
        <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
      </div>
    </div>
  </div>
</div>
